* {
  box-sizing: border-box;
}

html.open,
body.open {
  height: 100%;
  overflow: hidden;
}

html {
  /* padding: 40px; */
  font-size: 62.5%;
  height: 100%;
}

body {
  padding: 20px;
  background-image: linear-gradient(to bottom right, #81b29a, #3d405b, #e07a5f);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

main {
  background-color: tran;  
  border-radius: 20px;
}

p {
  text-align: center;
  margin: unset;
  color: #33354c;
}

h1 {
  color: white;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.active {
  border-radius: 30px;
  padding: 4px 10px;
  background: #cff6dd;
  color: #1fa750;
}
.active:after {
  background: #81b29a; 
}

.inactive {
  border-radius: 30px;
  padding: 4px 10px;
  background: #fddddd;
  color: #d85634; 
}
.inactive:after {
  background: #e07a5f; 
}

table {
  display: block;
}

tr,
td,
tbody {
  display: block;
}

tbody {
  background-color: white;
  border-radius: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

thead {
  display: none;
}

tr {
  padding-bottom: 10px;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}
td:before {
  content: attr(data-title);
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 700;
  text-align: center;
}

thead th {
  background-color: #202932;
  color: #fff;
  border: 0.5px solid #202932;
  text-align: center;
}

button {
  width: 8rem;
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 8px;
  border: unset;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
} 
button.disabled {
  background-color: grey;
}
button.req {
  background-color: #51557a;
}
button.ret {
  background-color: #d85634;
}
.div-btn {
  display: flex;
  justify-content: space-evenly;
}

.select {
  padding-bottom: 20px;
}
.select:before {
  display: none;
}

.detail {
  background-color: #bd2a4e;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.detail.open {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.detail-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 500px;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  font-size: 2.2rem;
  font-weight: 300;
}

dd {
  margin: 0 0 40px 0;
  font-size: 1.8rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ac2647;
  box-shadow: 0 1px 0 #c52c51;
}

.close {
  background: none;
  padding: 18px;
  color: #fff;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: fixed;
  right: 40px;
  top: 20px;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.close:hover, .close:focus {
  background-color: #a82545;
  border: 1px solid #a82545;
}

.MuiDialogTitle-root.css-bdhsul-MuiTypography-root-MuiDialogTitle-root, .MuiButton-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: large;
  font-weight: bold;
}

.MuiInputLabel-root.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-size: medium;
}

.MuiInputLabel-root.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  font-size: medium;
  height: 2rem;
}
.MuiInputLabel-root.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root:focus  {
  font-size: medium;
  height: 2em;
}

.MuiInput-root.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  font-size: medium;
  height: 2em;
}
.MuiInput-root.css-v4u5dn-MuiInputBase-root-MuiInput-root:focus {
  font-size: medium;
  height: 2em;
  margin-top: 24px;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  html {
    height: unset;
  }
}
@media screen and (min-width: 460px) and (orientation: portrait) {
  td {
      text-align: left;
  }
  td:before {
      display: inline-block;
      text-align: right;
      width: 140px;
  }

  .select {
      padding-left: 160px;
      }
  }
@media (min-width: 720px) {
  main {
      background-color: white;
      border-radius: 0;
  }

  p {
      color: black;
  }
  table {
      display: table;
  }

  tr {
      display: table-row;
  }

  td,
  th {
      display: table-cell;
      text-align: center;
  }

  tbody {
      display: table-row-group;
      background-color: transparent;
      border-radius: unset;
      margin-top: unset;
      margin-bottom: unset;
  }

  thead {
      display: table-header-group;
  }

  tfoot {
      display: table-footer-group;
  }

  td {
      border: 1px solid #28333f;
  }
  td:before {
      display: none;
  }

  td,
  th {
      padding: 10px;
  }

  tr:nth-child(2n + 2) td {
      background-color: #242e39;
  }

  tfoot th {
      display: table-cell;
  }

  .select {
      padding: 10px;
  }
}
